body{
  margin: 0;
  font-family: cursive, sans-serif;
  color: #2c292c;
  background-color: #f7eff7;
}

#head{
  background-color: #8c00ff;
  color: #fff;
  padding: 2rem 5%;
  text-align: center;
}

.btn{
  font: inherit;
  padding: .5rem 1.5rem;
  background-color: #8c00ff;
  border: 1px solid #8c00ff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.alt{
  background-color: transparent;
  border-color: transparent;
  color: #8c00ff;
}

.btn:hover{
  background-color: #4f0abe;
  border-color: #4f0abe;
}

.alt:hover{
  background-color: #e6c9fc;
  border-color: transparent;
}
