body {
    font-family: 'Poppins', sans-serif;
}

// ====== Navbar =======
nav {
    a {
        font-size: 14px;
        font-weight: bold;
        color: black !important;
    }



    .btn-login {
        font-size: 14px;
        font-weight: bold;
        color: white!important;
        background: linear-gradient(178.18deg,   #FD749B -13.56%, #281AC8 158.3%);
        border: transparent;
        border-radius: 100px;

        &:hover {
            background: linear-gradient(178.18deg,   #FD749B -13.56%, #5c4fec 158.3%);
        }
    }
}

// Dekstop
@media (min-width: 992px) { 
    nav {
        height: 134px;
        .active::after {
            content: '';
            display: block;
            border-bottom: 3px solid #FD749B;
            width: 50%;
            margin: auto;
            padding-bottom: 5px;
            margin-bottom: -8px;
        }
    }
 
    .navbar-nav .dropdown {
        margin-left: 114px;
    }

}
// ====== END Navbar =======

header.header-banner {
    background-image: url('../img/bg-header.png');
    background-size: cover;
    background-position: center;
    min-height: 744px;

    a {
        font-size: 14px;
        font-weight: 700;
        border-radius: 100px;
        color: #7C3EB6;
    }

    h1 {
        font-size: 40px;
        font-weight: 400;
        margin-top: 142px;
        span {
            font-weight: 700;
        }
    }

    p {
        font-size: 18px;
        font-weight: 400;
    }

    img {
        margin-top: 60px;
    }
    
    
}

@media (max-width: 991.98px) {
    header.header-banner {
        min-height: 1320px;
    }

}


section.about {
    margin-top: 80px;
    h2 {
        font-size: 28px;
        font-weight: 700;
        background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::after {
            content: '';
            display: block;
            border-bottom: 7px solid #FD749B;
            width: 50px;
            margin-top: 10px;
            border-radius: 7px;
        }
    }

    .btn-discover {
        background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        border-radius: 100px;
        color: white;
        border: transparent;
        font-weight: 700;

        &:hover {
            background: linear-gradient(178.18deg, #FD749B -13.56%, #5c4fec 158.3%);
        }
    }
}

// Mobile And Tablet
@media (max-width: 991.98px) {
    section.about {
        margin-top: -180px;
    }
}

// === Section Reserves ===
section.reserves {
    background-image: url('../img/bg-section-2@2x.png');
    background-size: cover;
    background-position: center;
    height: 789px;
    margin-top: 20px;
    font-size: 14px;

    .reserves-content {
        margin-top: 243px;
        background-color: #ffffff;
        border-radius: 30px;
        h5 {
            font-size: 18px;
            font-weight: 700;
            background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .btn-reserves {
            font-weight: 700;
            background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
            color: white;
            border: transparent;
            &:hover {
                background: linear-gradient(178.18deg, #FD749B -13.56%, #5c4fec 158.3%);
            }
        }
        // border: 1px solid black;
        // border-radius: 30px;
    }
}


@media (max-width: 991.98px) {
    section.reserves {
        margin-top: -100px;
        height: 890px;
        .reserves-content {
            
            margin-top: 300px;
        }
    }
}

@media (max-width: 767.98px) { 
    section.reserves {
        height: 1600px;
        margin-top: -300px;
        .reserves-content {
            margin-top: 465px;
        }
    }
}

section.experience {
    margin-top: 14px;
    min-height: 510px;

    h2 {
        font-size: 28px;
        font-weight: 700;
        background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::after {
            content: '';
            display: block;
            border-bottom: 7px solid #FD749B;
            width: 50px;
            margin-top: 10px;
            border-radius: 7px;
        }
    }

    p {
        font-size: 18px;
    }

    .btn-discover {
        background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        border-radius: 100px;
        color: white;
        border: transparent;
        font-weight: 700;

        &:hover {
            background: linear-gradient(178.18deg, #FD749B -13.56%, #5c4fec 158.3%);
        }
    }
}

@media (max-width: 991.98px) {
    section.experience {
        .experience-content {
            margin-top: -100px;
        }
    }
}

@media (max-width: 767.98px) {
    section.experience {
        .experience-content {
            margin-top: -180px;
        }
    }
}

section.trade {
    background-image: url('../img/bg-section-3.png');
    background-size: cover;
    background-position: center;
    min-height: 420px;
    .trade-content {
        margin-top: 121px;
        background-color: white;
        min-height: 504px;
        box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
        border-radius: 30px;

        h2 {
            font-size: 28px;
            font-weight: 700;
            background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 77px 0px 72px 0px;
            &::after {
                content: '';
                display: block;
                border-bottom: 3px solid #FD749B;
                width: 8%;
                margin: auto;
                padding-bottom: 5px;
                margin-bottom: -8px;
                border-bottom: 7px solid #FD749B;
                border-radius: 7px;
            }
            
        }

        .card {
            border-radius: 30px;
            min-height: 243px;
            p {
                margin-top: 53px;
            }
        }
    }
}

section.ourblog {
    margin-top: 142px;
    // min-height: 600px;

    h2 {
        font-size: 28px;
        font-weight: 700;
        background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::after {
            content: '';
            display: block;
            border-bottom: 3px solid #FD749B;
            width: 4%;
            margin: auto;
            padding-bottom: 5px;
            margin-bottom: -8px;
            border-bottom: 7px solid #FD749B;
            border-radius: 7px;
        }
    }

    h5 {
        margin: 50px 0px;
    }

    @media (max-width: 780px) {
        .cards {
            margin-top: 80px;
        }
    }
    .card-body {
        border-radius: 15px;
        small {
            font-size: 10px;
        }

        h5 {
            font-size: 24px;
            font-weight: 700;
            background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            font-size: 12px;
        }

        .btn-ourblog {
            background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
            border-radius: 100px;
            color: white;
            border: transparent;
            font-weight: 700;
        }
    }
}

section.clients {
    background-image: url('../img/bg-section-4.png');
    background-size: cover;
    background-position: center;
    height: 1505px;
    h2 {
        font-size: 28px;
        font-weight: 700;
        color: white;
        margin-top: 430px;

        &::after {
            content: '';
            display: block;
            width: 5%;
            margin: auto;
            margin: 60px auto;
            border-bottom: 3px solid #FD749B;
            border-radius: 7px;
            padding-bottom: 5px;
            // margin-bottom: -8px;
            border-bottom: 7px solid #FD749B;
        }
    }

    p {
        font-size: 16px;
        color: white;
    }

    img {
        margin-top: 100px;
    }
}

@media (max-width: 767.98px) {
    section.clients {
        max-height: 1200px;
    }
}

section.download {
    h2 {
        font-size: 28px;
        font-weight: 700;
        background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::after {
            content: '';
            display: block;
            border-bottom: 3px solid #FD749B;
            width: 4%;
            margin: auto;
            padding-bottom: 5px;
            margin-bottom: -8px;
            border-bottom: 7px solid #FD749B;
            border-radius: 7px;
        }
    }
}


section.phone {
    background-image: url('../img/bg-section-5.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-top: 112px;

    .phone-content {
        min-height: 670px;
    }

}

@media (max-width: 767.98px) {
    section.phone {
        height: 300px;
    }
}

section.subscribe {
    height: 430px;
    h2 {
        margin-top: 114px;
        font-size: 28px;
        font-weight: 700;
        background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::after {
            content: '';
            display: block;
            border-bottom: 3px solid #FD749B;
            width: 4%;
            margin: auto;
            padding-bottom: 5px;
            margin-bottom: -8px;
            border-bottom: 7px solid #FD749B;
            border-radius: 7px;
        }
    }

    input {
        border-radius: 100px;
    }

    .btn-discover {
        background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        font-size: 14px;
        border-radius: 100px;
        color: white;
        border: transparent;
        font-weight: 700;

        &:hover {
            background: linear-gradient(178.18deg, #FD749B -13.56%, #5c4fec 158.3%);
        }
    }
}


@media (max-width: 767.98px) {
    section.subscribe {
        height: 600px;
    }
}

footer.footer {
    color: white;
    height: 351px;
    background-color: black;
    a {
        color: #A2A2A2;
        text-decoration: none;
    }

    p {
        color: #A2A2A2;
    }

}


@media (max-width: 991.98px) {
    footer.footer {
        height: 580px;
    }
}

@media (max-width: 767.98px) {
    footer.footer {
        height: 790px;
    }
}

@media (max-width: 575.98px) {
    footer.footer {
        min-height: 1020px;
    }
}



// @media (min-width: 768px) and (max-width: 991.98px) { ... }
