body {
  font-family: 'Poppins', sans-serif;
}

nav a {
  font-size: 14px;
  font-weight: bold;
  color: black !important;
}

nav .btn-login {
  font-size: 14px;
  font-weight: bold;
  color: white !important;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  border: transparent;
  border-radius: 100px;
}

nav .btn-login:hover {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #5c4fec 158.3%);
}

@media (min-width: 992px) {
  nav {
    height: 134px;
  }
  nav .active::after {
    content: '';
    display: block;
    border-bottom: 3px solid #FD749B;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .navbar-nav .dropdown {
    margin-left: 114px;
  }
}

header.header-banner {
  background-image: url("../img/bg-header.png");
  background-size: cover;
  background-position: center;
  min-height: 744px;
}

header.header-banner a {
  font-size: 14px;
  font-weight: 700;
  border-radius: 100px;
  color: #7C3EB6;
}

header.header-banner h1 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 142px;
}

header.header-banner h1 span {
  font-weight: 700;
}

header.header-banner p {
  font-size: 18px;
  font-weight: 400;
}

header.header-banner img {
  margin-top: 60px;
}

@media (max-width: 991.98px) {
  header.header-banner {
    min-height: 1320px;
  }
}

section.about {
  margin-top: 80px;
}

section.about h2 {
  font-size: 28px;
  font-weight: 700;
  background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.about h2::after {
  content: '';
  display: block;
  border-bottom: 7px solid #FD749B;
  width: 50px;
  margin-top: 10px;
  border-radius: 7px;
}

section.about .btn-discover {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  border-radius: 100px;
  color: white;
  border: transparent;
  font-weight: 700;
}

section.about .btn-discover:hover {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #5c4fec 158.3%);
}

@media (max-width: 991.98px) {
  section.about {
    margin-top: -180px;
  }
}

section.reserves {
  background-image: url("../img/bg-section-2@2x.png");
  background-size: cover;
  background-position: center;
  height: 789px;
  margin-top: 20px;
  font-size: 14px;
}

section.reserves .reserves-content {
  margin-top: 243px;
  background-color: #ffffff;
  border-radius: 30px;
}

section.reserves .reserves-content h5 {
  font-size: 18px;
  font-weight: 700;
  background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.reserves .reserves-content .btn-reserves {
  font-weight: 700;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  color: white;
  border: transparent;
}

section.reserves .reserves-content .btn-reserves:hover {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #5c4fec 158.3%);
}

@media (max-width: 991.98px) {
  section.reserves {
    margin-top: -100px;
    height: 890px;
  }
  section.reserves .reserves-content {
    margin-top: 300px;
  }
}

@media (max-width: 767.98px) {
  section.reserves {
    height: 1600px;
    margin-top: -300px;
  }
  section.reserves .reserves-content {
    margin-top: 465px;
  }
}

section.experience {
  margin-top: 14px;
  min-height: 510px;
}

section.experience h2 {
  font-size: 28px;
  font-weight: 700;
  background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.experience h2::after {
  content: '';
  display: block;
  border-bottom: 7px solid #FD749B;
  width: 50px;
  margin-top: 10px;
  border-radius: 7px;
}

section.experience p {
  font-size: 18px;
}

section.experience .btn-discover {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  border-radius: 100px;
  color: white;
  border: transparent;
  font-weight: 700;
}

section.experience .btn-discover:hover {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #5c4fec 158.3%);
}

@media (max-width: 991.98px) {
  section.experience .experience-content {
    margin-top: -100px;
  }
}

@media (max-width: 767.98px) {
  section.experience .experience-content {
    margin-top: -180px;
  }
}

section.trade {
  background-image: url("../img/bg-section-3.png");
  background-size: cover;
  background-position: center;
  min-height: 420px;
}

section.trade .trade-content {
  margin-top: 121px;
  background-color: white;
  min-height: 504px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

section.trade .trade-content h2 {
  font-size: 28px;
  font-weight: 700;
  background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 77px 0px 72px 0px;
}

section.trade .trade-content h2::after {
  content: '';
  display: block;
  border-bottom: 3px solid #FD749B;
  width: 8%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
  border-bottom: 7px solid #FD749B;
  border-radius: 7px;
}

section.trade .trade-content .card {
  border-radius: 30px;
  min-height: 243px;
}

section.trade .trade-content .card p {
  margin-top: 53px;
}

section.ourblog {
  margin-top: 142px;
}

section.ourblog h2 {
  font-size: 28px;
  font-weight: 700;
  background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.ourblog h2::after {
  content: '';
  display: block;
  border-bottom: 3px solid #FD749B;
  width: 4%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
  border-bottom: 7px solid #FD749B;
  border-radius: 7px;
}

section.ourblog h5 {
  margin: 50px 0px;
}

@media (max-width: 780px) {
  section.ourblog .cards {
    margin-top: 80px;
  }
}

section.ourblog .card-body {
  border-radius: 15px;
}

section.ourblog .card-body small {
  font-size: 10px;
}

section.ourblog .card-body h5 {
  font-size: 24px;
  font-weight: 700;
  background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.ourblog .card-body p {
  font-size: 12px;
}

section.ourblog .card-body .btn-ourblog {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  border-radius: 100px;
  color: white;
  border: transparent;
  font-weight: 700;
}

section.clients {
  background-image: url("../img/bg-section-4.png");
  background-size: cover;
  background-position: center;
  height: 1505px;
}

section.clients h2 {
  font-size: 28px;
  font-weight: 700;
  color: white;
  margin-top: 430px;
}

section.clients h2::after {
  content: '';
  display: block;
  width: 5%;
  margin: auto;
  margin: 60px auto;
  border-bottom: 3px solid #FD749B;
  border-radius: 7px;
  padding-bottom: 5px;
  border-bottom: 7px solid #FD749B;
}

section.clients p {
  font-size: 16px;
  color: white;
}

section.clients img {
  margin-top: 100px;
}

@media (max-width: 767.98px) {
  section.clients {
    max-height: 1200px;
  }
}

section.download h2 {
  font-size: 28px;
  font-weight: 700;
  background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.download h2::after {
  content: '';
  display: block;
  border-bottom: 3px solid #FD749B;
  width: 4%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
  border-bottom: 7px solid #FD749B;
  border-radius: 7px;
}

section.phone {
  background-image: url("../img/bg-section-5.png");
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-top: 112px;
}

section.phone .phone-content {
  min-height: 670px;
}

@media (max-width: 767.98px) {
  section.phone {
    height: 300px;
  }
}

section.subscribe {
  height: 430px;
}

section.subscribe h2 {
  margin-top: 114px;
  font-size: 28px;
  font-weight: 700;
  background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.subscribe h2::after {
  content: '';
  display: block;
  border-bottom: 3px solid #FD749B;
  width: 4%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
  border-bottom: 7px solid #FD749B;
  border-radius: 7px;
}

section.subscribe input {
  border-radius: 100px;
}

section.subscribe .btn-discover {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  font-size: 14px;
  border-radius: 100px;
  color: white;
  border: transparent;
  font-weight: 700;
}

section.subscribe .btn-discover:hover {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #5c4fec 158.3%);
}

@media (max-width: 767.98px) {
  section.subscribe {
    height: 600px;
  }
}

footer.footer {
  color: white;
  height: 351px;
  background-color: black;
}

footer.footer a {
  color: #A2A2A2;
  text-decoration: none;
}

footer.footer p {
  color: #A2A2A2;
}

@media (max-width: 991.98px) {
  footer.footer {
    height: 580px;
  }
}

@media (max-width: 767.98px) {
  footer.footer {
    height: 790px;
  }
}

@media (max-width: 575.98px) {
  footer.footer {
    min-height: 1020px;
  }
}
/*# sourceMappingURL=style.css.map */