*{
    padding: 0px;
    margin: 0px;
}

.changePasswordPage{
    display: flex;
    height: 750px;
    padding-top: 35px;
}

.changePageLeft{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
}

.changePageRight{
    width: 50%;
    display: flex;
    justify-content: center;
}

.loginProfileImage{
    border-radius: 100px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.changeBack{ 
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changeS{
    width: 500px;
    height: 600px;
    background: linear-gradient(to bottom, #0096c7, #5479F7);
    color: white;
    padding: 20px;   
    border-radius: 40px; 
}


.changeS label,.changeS input[type="email"],.changeS input[type="password"]{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.changeS label{
    font-size: 20px;
    margin-top: 15px;
}

.changeS input{
    width: 200px;
    height: 25px;
}

.changeS input[type="email"],.changeS input[type="password"]{
    padding-left: 10px;
}

.changeS input[type="submit"]{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #03045e;
    color: white;
    margin: auto;
    width: 100px;
    height: 30px;
}

.changeS input[type="submit"]:hover{
    cursor: pointer;
}
.changeBtn{
    background-color: white;
    color: black;
    width: 100px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    margin-left: 185px;
    margin-top: 20px;
    padding: 5px;
    border: none;
}
.changeBtn:hover{
    background-color: #0D1282;
    color: white;
    cursor: pointer;
}
.errorChangePassword{
    color: #0D1282;
    font-size: 18px;
    margin-left: 150px;
    margin-top: 10px;

}
h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px
}

.roleDivChangePW{
    display: flex;
    margin-bottom: 20px;
    width: 60%;
    height: 80px;
    margin-left: 100px;
}
.sign-in{
    margin-top: 15px;
}
.sign-in a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-left: 205px;
}
.sign-in a:hover{
    color: black;
}

.newPassword input{
    width: 200px;
}
