#game{
  text-align: center;
  margin: 2rem 0 5rem 0;
  display: none;
}

#over{
  max-width: 40rem;
  margin: auto;
  width: 90%;
  padding: 1rem 2rem;
  background-color: #320557;
  color: #fff;
  box-shadow: 0 2px 8px #00000033;
  border-radius: 4px;
  display: none;
}

#over h2{
  font-size: 2.5rem;
  margin: .5rem 0;
}

#player{
  font-weight: bold;
  color: #320557;
}

#board{
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  justify-content: center;
  gap: .5rem;
}

#board li{
  background-color: #d7bbf7;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

#board li:hover{
  background-color: #700dcc;
}

#board li.del{
  background-color: #700dcc;
  color: #fff;
  cursor: default;
}