/* ToDoList */
:root {
  --main-color: rgb(159, 50, 159);
  --white: #fff;
  --bg-color: rgb(87, 87, 158);
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--main-color);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: auto;
}

.center_container {
  width: 300px;
  height: 450px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 10px 2px #333;
  margin: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.center_container .header {
  text-align: center;
  color: var(--white);
  margin-bottom: 10px;
  background-color: var(--main-color);
}

.center_container .header h1 {
  font-size: 30px;
  margin: 0;
  padding: 8px 0;
}

.center_container .data_input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_container .data_input input {
  border: none;
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
  outline: none;
  margin-right: 20px;
  text-align: center;
  font-size: 18px;
  width: 150px;
}

.center_container .data_input button {
  text-align: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  font-weight: bolder;
  background-color: var(--main-color);
  font-size: 30px;
  color: var(--white);
}

.center_container .data_input button:hover {
  background-color: rgb(5, 186, 99);
  cursor: pointer;
}

.center_container .lists {
  list-style: none;
  padding: 0;
  margin: 5px 10px;
}

.center_container .lists li {
  display: flex;
  align-items: center;
}

.center_container .lists li button {
  text-align: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  background-color: var(--main-color);
  font-size: 14px;
  color: var(--white);
}

.center_container .lists li button:hover {
  background-color: red;
  cursor: pointer;
}

.center_container .lists li p {
  margin: 0;
  margin-left: 10px;
  font-weight: 500;
  line-height: 1.5;
}

hr {
  margin: 5px 0;
}