body{
    display: grid;
    justify-content: center;
    align-items: center;

}


h1{
    border: 1 px solid black;
    display: inline;

}
input{
    background-color: paleturquoise;
    border: 1px solid black;
    display: block;
}

h2{
    background-color: aqua;
    border:40px ;
    border-radius: 50%;
    display: block;
}
button{
    background-color: royalblue;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;

    
}
button:hover{
    background-color: green;
}

.Race{
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;

    
.name{
    display: flex;
    flex-wrap: wrap;

}
    
}