* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}

:root {
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --redColor: #f44336;
    --greenColor: #0ae60a;
    --bgDone: #888888;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bgColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--hoverColor);
    border-radius: 30px;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

p {
    font-size: 18px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

/* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

/* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

/* XLarge */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* XXLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

.app .container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.app .container .top {
    padding: 30px 40px;
    width: 100%;
    background-color: var(--redColor);
    text-align: center;
}

.app .container .top h2 {
    color: var(--whiteColor);
    margin-bottom: 10px;
}

.app .container .top input[type="text"] {
    width: 80%;
    outline: none;
    padding: 10px;
    border: none;
}

.app .container .top input[type="text"]:focus::placeholder {
    opacity: 0;
}

.app .container .top .add {
    padding: 10px;
    background-color: #d9d9d9;
    border: none;
    outline: none;
    width: 20%;
    color: #555;
    margin-left: -5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.app .container .top .add:hover {
    background-color: #bbb;
    color: var(--whiteColor);
}

.app .container .bottom {
    width: 100%;
}

.app .container .bottom .task {
    display: flex;
    align-items: center;
    padding: 12px 40px 12px 40px;
    background-color: #eee;
}

.app .container .bottom .task:nth-child(odd) {
    background-color: #f9f9f9;
}

.app .container .bottom .task.done {
    background-color: var(--bgDone);
}

.app .container .bottom .task .fa-check {
    cursor: pointer;
    color: var(--whiteColor);
    transition: all .3s ease-in-out;
}

.app .container .bottom .task.done .fa-check {
    color: var(--greenColor);
}

.app .container .bottom .task .fa-check:hover {
    color: var(--greenColor);
}

.app .container .bottom .task p {
    margin-left: 20px;
}

.app .container .bottom .task.done p {
    color: var(--whiteColor);
    text-decoration: line-through;
}

.app .container .bottom .task .fa-trash {
    color: var(--whiteColor);
    margin-left: auto;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.app .container .bottom .task .fa-trash:hover {
    color: var(--redColor);
}